In [73]:
# Opening with pandas 
import csv
import pandas as pd

df = pd.read_csv('loans.csv', encoding='utf-8-sig')

df

# 3 row 

# Normal csv lib in python 
with open('loans.csv' , encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    # Pythonic way of doing it
    # yongest = min(int(row[2]) for row in reader)
    
    yongest = int(next(reader)[2])
    for row in reader:
        yongest = min(yongest, int(row[2]))

    print(yongest)

32

In [69]:
df

    1    industrial  34  2.96   repaid
0   2  professional  41  4.64  default
1   3  professional  36  3.22  default
2   4  professional  41  3.11  default
3   5    industrial  48  3.80  default
4   6    industrial  61  2.52   repaid
5   7  professional  37  1.50   repaid
6   8  professional  40  1.93   repaid
7   9    industrial  33  5.25  default
8  10    industrial  32  4.15  default

for